<div class="card">
  <div class="card-body">
    <div class="card-title">Lista de Filmes</div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data Cadastro</th>
            <th scope="col">Titulo</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let filme of filmeList">
            <tr *ngIf="filme">
              <th scope="row">{{ filme.id }}</th>
              <td>{{ filme.dataCadastro | date:'dd/MM/yyyy' }}</td>
              <td>{{ filme.titulo }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
