<div class="card">
  <div class="card-body">
    <div class="card-title">Lista de Filmes</div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th class="text-center" scope="col">Data Cadastro</th>
            <th class="text-center" scope="col">Data Lançamento</th>
            <th scope="col">Titulo</th>
            <th class="text-right" scope="col">Preço do Bilhete</th>
            <th class="text-center" scope="col">Inativo</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let filme of filmeList">
            <tr *ngIf="filme"
                [class.verde]="filme.precoBilhete <= 10"
                [class.azul]="filme.precoBilhete > 10 && filme.precoBilhete <= 20"
                [class.amarelo]="filme.precoBilhete > 20 && filme.precoBilhete < 40"
                [class.vermelho]="filme.precoBilhete >= 40"
                [title]="getTitle(filme)"
                [style.fontSize.px]="20">
              <th scope="row">{{ filme.id }}</th>
              <td class="text-center">{{ filme.dataCadastro | date:'dd/MM/yyyy' }}</td>
              <td class="text-center">{{ filme.dataLancamento | date:'dd/MM/yyyy' }}</td>
              <td>{{ filme.titulo }}</td>
              <td class="text-right">{{ filme.precoBilhete | currency:'BRL'}}</td>
              <td class="text-center">{{ filme.inativo | inativo }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
